*{
    font-family: arial;
}

body { 
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #a390f8;
}
.app {
    background-color: #fbecff;
    padding: 20px;
    border-radius: 12px;
}
.inputs {
    display: flex;
    flex-direction: column;
}
input{
    padding: 8px;
    margin: 8px 0;
    outline: none;
}
 #btn-calcular {
    background-color: rgb(194, 131, 253);
    color #ffff;
    padding: 12px
  }